


<div class="row p-4 justify-content-center bg" style="min-height: 61vh;">
    <div class="col-md-7 intro">

            <h1 class="mt-2">House Haven</h1>
            <h4>Your tool to get rented house</h4>
            <p >
                Welcome to House Haven - your ultimate destination for finding the perfect home to rent! Our user-friendly website offers a curated collection of exquisite houses available for rent, with powerful search filters and innovative features like virtual tours. Homeowners and property managers can easily list their properties with captivating photos and detailed descriptions. Our team is committed to providing exceptional customer service and prioritizing your safety. Join us at House Haven and embark on an exciting journey to find your dream home. Welcome home to House Haven - where your search for the perfect rental property begins..</p>
    </div>
</div>

